body, html {
  height: 100%;
  color: #e0d1c9;
  
  margin: 0;
  text-align: center;
  font-weight: 900;
  background-image: url(bakra.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(192, 166, 166);
  background-size: cover;
    font-family: 'Segment7Standard';
    font-weight: normal;
    font-style: italic;

}


tr, td {
  padding-left: 15px;
  padding-right: 15px;
  width: 120px;
}

.content-center {
  align-items: center;
  justify-content: center;
  display: grid;
}
.text{
  font-size: 7vh;
  font-family: monospace;
  font-weight: 900 !important;
}
